<%- include('../partials/heads') -%>
<%- include('../partials/header') -%>

    <div class="container adminProduct">
        <section class="row adminProduct__content mt-4">
            <% products.forEach(product => { %>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-header ">
                            <h3 class="card-title mb-0"><%= product.title.slice(0, 25) + ' ...' %></h3>
                            <span class="text-uppercase"> <%= product.brand %> </span>
                            <img class="adminProduct__content--image" src="<%= product.imageUrl %>" alt="">
                        </div>
                        <div class="card-content" style="padding: .75rem 1.25rem">
                            <div class="adminProduct__info d-flex justify-content-between mb-2">
                                <span class="adminProduct__price adminProduct__price--bold">RD$ <%= product.price %> </span>
                                <div class="d-flex">
                                    <div class="mr-2">
                                        <i class="icofont icofont-eye-alt"></i>
                                        <span><%= product.numReviews %></span>
                                    </div>
                                    <div>
                                        <i class="icofont icofont-heart-alt "></i>
                                        <span><%= product.rating %></span>
                                    </div>
                                </div>
                            </div>
                            <div class="adminProduct__description">
                                <p><%= product.description.slice(0, 180) + ' ...' %></p>
                            </div>
                            <div class="adminProduct__buttons d-flex justify-content-between">
                                <button class="btn btn-info">
                                    <i class="icofont icofont-cart-alt"></i>
                                    Add to cart
                                </button>
                                <a class="d-flex align-self-center" href="#">Detail</a>
                            </div>
                        </div>
                        <span class="badge badge-danger text-capitalize"><%= product.category.name %></span>
                    </div>
                </div>
            <% }) %>
        </section>
    </div>
<%- include('../partials/scripts') -%>
