<%- include('../partials/heads') -%>
<%- include('../partials/header') -%>

    <div class="container adminProduct">
        <section class="row adminProduct__content mt-4">
            <% products.forEach(product => { %>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid5">
                        <div class="product-image5">
                            <a href="#">
                                <img class="pic-1" src="<%= product.imageUrl%>">
                                <img class="pic-2" src="<%= product.imageUrl%>">
                            </a>
                            <ul class="social">
                                <li><a href="" data-tip="Quick View" title="Editar"><i class="icofont icofont-ui-edit"></i></a></li>
                                <li><a href="" data-tip="Add to Wishlist" title="Compartir"><i class="icofont icofont-share"></i></a></li>
                                <li><a href="" data-tip="Add to Cart" title="Codigo QR"><i class="icofont icofont-qr-code"></i></a></li>
                            </ul>
                            <a href="#" class="select-options"><i class="icofont icofont-trash"></i> Eliminar</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#"><%= product.title %></a></h3>
                            <div class="price">$<%= product.price%> - $15.00</div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </section>
    </div>
<%- include('../partials/scripts') -%>
